package ${mainPath}.service.${moduleName}.impl;

import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import ${package}.request.${moduleName}.${className}Request;

import ${mainPath}.dao.${moduleName}.${className}Mapper;
import ${package}.entity.${moduleName}.${className};
import ${mainPath}.service.${moduleName}.${className}Service;
import cn.hutool.core.util.StrUtil;



/**
 * ${comments} impl
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements ${className}Service {



    /**
     * 列表查询
     *
     * @param query 查询参数
     * @param page  页数
     * @param size  每页个数
     * @return
     */
    @Override
    public IPage<${className}> list(${className}Request query, Integer page, Integer size){

        QueryWrapper<${className}> wrapper = new QueryWrapper<>();
        #foreach ($column in $columns)
        #if($column.attrType == "String")
        wrapper.like(StrUtil.isNotBlank(query.get${column.attrName}()),"${column.columnName}", query.get${column.attrName}());
        #end
        #end
        return page(new Page<>(page,size),wrapper);
    }

}
